[build]
  command = "npm run build"
  publish = "dist"

# Esto crea el _redirects automáticamente después del build
  functions = "netlify/functions"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200